<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="container p-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Genero</th>
            <th scope="col">Clasificación</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="movie: ${listMovie}">
            <th scope="row" th:text="${movie.id}"></th>
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.genre.description}"></td>
            <td th:text="${movie.classification.description}"></td>
            <td>
                <a th:href="@{/movies/data-form/{id}(id=${movie.id})}" class="btn btn-primary">Editar</a>
                <a class="btn btn-light">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>
